@model IEnumerable<PTCVotingWebApp.Models.Politcal>

@{
    ViewData["Title"] = "Politicians";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .imageContainer {
        height: 17em;
        position: relative;
        border: 3px solid green;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>

<h1>Politicians</h1>

@if (User.IsInRole("Administrators"))
{
<p>
    <a asp-action="Create">Add Politician</a>
</p>
}
@*Default User Icon is 512 by 512*@
@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row" style="border: 0.15em solid black; min-height: 17em;">
            @if (item.ImageUrl == null)
            {
                <div class="col-sm-3 imageContainer">
                    <img class="vertical-center" src="~/images/defaultUser.png" alt="@item.Name" title="@item.Name" style="width: 15em; height: 15em;" />
                </div>
            }
            else
            {
                <div class="col-sm-3 imageContainer">
                    <img class="vertical-center" src="@item.ImageUrl" alt="@item.Name" title="@item.Name" style="width: 15em; height: 15em;" />
                </div>
            }
            <div class="col-sm-7">
                <h4>@item.Name</h4>
                <h5>Party: @item.PoliticalParty</h5>
                <p>@item.Description</p>
            </div>
            @if (User.IsInRole("Administrators"))
            {
                <div class="col-2">
                    <a asp-action="Edit" asp-route-id="@item.Politcal1">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Politcal1">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Politcal1">Delete</a>
                </div>
            }
        </div>
    </div>
}

@*Spacer for the footer*@
<div style="height: 3em;"></div>
