@model IEnumerable<PTCVotingWebApp.Models.Politcal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <img src="banner.png" alt="flagbanner" class="center">

<h1>Index</h1>
<br>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoliticalParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <br>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FkId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoliticalParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Politcal1">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Politcal1">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Politcal1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
