@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var data = ViewBag.poles;
}

<style>
    .conCenter {
        position: fixed;
        z-index: 999;
    }

    div.conCenter {
        background-color: antiquewhite;
        margin: 5px;
        padding: 5px;
        width: 65%;
        height: 75%;
        overflow: auto;
        text-align: justify;
        border: 0.15em solid black;
    }
</style>

<div id="confermation" style="visibility: hidden;" class="conCenter">
    @foreach (var item in ViewBag.pol)
    {

        <div class="container" href="javascript:{}" onclick="send('@item.Name', '@item.PoliticalParty','@item.Description')" style="margin: 1em;">
            <div class="row" style="border: 0.15em solid black; min-height: 17em;">
                @if (item.ImageUrl == null)
                {
                    <div class="col-3 imageContainer">
                        <img class="vertical-center" src="~/images/defaultUser.png" alt="@item.Name" title="@item.Name" style="width: 15em; height: 15em;" />
                    </div>
                }
                else
                {
                    <div class="col-3 imageContainer">
                        <img class="vertical-center" src="@item.ImageUrl" alt="@item.Name" title="@item.Name" style="width: 15em; height: 15em;" />
                    </div>
                }
                <div class="col-7">
                    <h4>@item.Name</h4>
                    <h5>Party: @item.PoliticalParty</h5>
                    <p>@item.Description</p>
                </div>
            </div>
        </div>
    }
</div>

@for (int i = 0; i < data.Length; i++)
{
    var runners = data[i].Runners.ToArray();

    <div class="container" style="margin-bottom: 1em;">
        <form method="post" id="update">
            <input id="runners" name="runners" value="" hidden/>
            <input id="save" name="save" hidden/>
            <input name="race" value="@data[i].Race" style="width: 100%;" hidden />
            <input name="state" value="@data[i].State" style="width: 100%;" hidden />
            <input name="city" value="@data[i].City" style="width: 100%;" hidden />
            <div class="row">
                <div class="col-4"><label for="race">Race:</label><h4>@data[i].Race</h4></div>
                <div class="col-4"><label for="state">State:</label><h4>@data[i].State</h4></div>
                <div class="col-4"><label for="city">City:</label><h4>@data[i].City</h4></div>
            </div>
        </form>
        <form id="poli">
            @for (int x = 0; x < runners.Length; x++)
            {
                <div style="border: 0.15em solid black; padding: 1em; margin-top: 1em;" id="@(x+"Div")">
                    <div class="row" style="margin-bottom: 1em;">
                        <div class="col-6">
                            <label for="name">Name:</label>
                            <input id="@(x+"Name")" name="name[]" value="@runners[x].Name" style="width: 100%;" hidden />
                            <p id="@(x+"NameB")">@runners[x].Name</p>
                        </div>
                        <div class="col-6">
                            <label for="party">Party:</label>
                            <input id="@(x+"Party")" name="party[]" value="@runners[x].PoliticalParty" style="width: 100%;" hidden />
                            <p id="@(x+"PartyB")">@runners[x].PoliticalParty</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="description">Description:</label>
                            <textarea id="@(x+"Des")" name="description[]" rows="8" style="width: 100%;" hidden>@runners[x].Description</textarea>
                            <p id="@(x+"DesB")" style="min-height: 8em;">@runners[x].Description</p>

                        </div>
                    </div>
                    <a href="javascript:{}" onclick="picker('@x');">Pick New Politician</a>
                    <a href="javascript:{}" onclick="remove('@(x+"Div")');">Remove Politician</a>
                </div>
            }

        </form>
    </div>
    <a href="javascript:{}" onclick="AddRunner();">Add Runner</a>
    <a href="javascript:{}" onclick="buildRunners();">Save</a>
    <a href="javascript:{}" onclick="cancel();">Cancel</a>
}
<div style="height: 3em;"></div>