@model PTCVotingWebApp.Models.Politcian
@{
    var data = ViewBag.poles;
}

<style>
    .conCenter {
        position: fixed;
        z-index: 999;
    }

    div.conCenter {
        background-color: antiquewhite;
        margin: 5px;
        padding: 5px;
        width: 65%;
        height: 75%;
        overflow: auto;
        text-align: justify;
        border: 0.15em solid black;
    }
</style>


<div id="confermation" style="visibility: hidden;" class="conCenter">
    @foreach (var item in ViewBag.pol)
    {

        <div class="container" href="javascript:{}" onclick="send('@item.Name', '@item.PoliticalParty','@item.Description')" style="margin: 1em;">
            <div class="row" style="border: 0.15em solid black; min-height: 17em;">
                @if (item.ImageUrl == null)
                {
                    <div class="col-3 imageContainer">
                        <img class="vertical-center" src="~/images/defaultUser.png" alt="@item.Name" title="@item.Name" style="width: 15em; height: 15em;" />
                    </div>
                }
                else
                {
                    <div class="col-3 imageContainer">
                        <img class="vertical-center" src="@item.ImageUrl" alt="@item.Name" title="@item.Name" style="width: 15em; height: 15em;" />
                    </div>
                }
                <div class="col-7">
                    <h4>@item.Name</h4>
                    <h5>Party: @item.PoliticalParty</h5>
                    <p>@item.Description</p>
                </div>
            </div>
        </div>
    }
</div>




<div class="container" style="margin-bottom: 1em;">
    <form method="post" id="update">
        <input id="runners" name="runners" value="" hidden />
        <input id="save" name="save" hidden />

        <div class="row">
            <div class="col-4"><label for="race">Race:</label><input name="race" value="" style="width: 100%; height: 2em;" /></div>
            @*<div class="col-4"><label for="state">State:</label><input name="state" value="" style="width: 100%;" /></div>*@
            <div class="col-2">
                <label for="state">State:</label>
                <select name="state" style="width: 100%; height: 2em;">
                    @foreach (var state in ViewBag.states)
                    {
        <option value="@state">@state</option>}
                </select>
            </div>
            <div class="col-4"><label for="city">City:</label><input name="city" value="" style="width: 100%; height: 2em;" /></div>
            <div class="col-2"><label for="date">Date:</label><input name="date" value="" type="date" style="width: 100%; height: 2em;" /></div>

        </div>
    </form>
    <form id="poli">
        <div style="border: 0.15em solid black; padding: 1em; margin-top: 1em;" id="0Div">
            <div class="row" style="margin-bottom: 1em;">
                <div class="col-6">
                    <label for="name">Name:</label>
                    <input id="0Name" name="name[]" value="" style="width: 100%;" hidden />
                    <p id="0NameB"></p>
                </div>
                <div class="col-6">
                    <label for="party">Party:</label>
                    <input id="0Party" name="party[]" value="" style="width: 100%;" hidden />
                    <p id="0PartyB"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="description">Description:</label>
                    <textarea id="0Des" name="description[]" rows="8" style="width: 100%;" hidden></textarea>
                    <p id="0DesB" style="min-height: 8em;"></p>

                </div>
            </div>
            <a href="javascript:{}" onclick="picker('0');">Pick New Politician</a>
            <a href="javascript:{}" onclick="remove('0Div');">Remove Politician</a>
        </div>

    </form>
</div>

<a href="javascript:{}" onclick="AddRunner();">Add Runner</a>
<a href="javascript:{}" onclick="buildRunners();">Save</a>
<a href="javascript:{}" onclick="cancel();">Cancel</a>

<div style="height: 3em;"></div>